http:
  port: 8080
admin:
  port: 9876
  host: localhost

apiEndpoints:
  api:
    host: localhost
    paths:
      - /ip
  messageService:
    host: localhost
    paths: ['/health']  
  userAuthPublic:
    host: localhost
    paths:
      - '/users/health'
      - '/users/login'
      - '/users/register'
      - '/users/verify'
  
  # --- PROTECTED AREA ---
  # These routes require a valid JWT to access
  userProtected:
    host: localhost
    paths: 
      - '/users/*'

serviceEndpoints:
  httpbin:
    url: 'https://httpbin.org'
  messageService:
    url: 'http://host.docker.internal:5002'
  user_service:
    url: 'http://localhost:5001'

policies:
  - proxy
  - log
  - cors
  - jwt
  - expression

pipelines:
  # 1. Auth Pipeline (Login/Register)
  userAuthPublicPipeline:
    apiEndpoints:
      - userAuthPublic
    policies:
      - proxy:
          action:
            serviceEndpoint: user_service
            changeOrigin: true

  userProtectedPipeline:
    apiEndpoints:
      - userProtected
    policies:
      - jwt:
          action:
            secretOrPublicKey: ${JWT_SECRET}
            #issuer: ${JWT_ISSUER}
            issuer: 'forum_user_service'
            checkCredentialExistence: false
      - proxy:
          action:
            serviceEndpoint: user_service
            changeOrigin: true
  default:
    apiEndpoints:
      - api
    policies:
      - proxy:
          - action:
              serviceEndpoint: httpbin
              changeOrigin: true

  messagePipeline:
    apiEndpoints:
      - messageService
    policies:
      - proxy:
          - action:
              serviceEndpoint: messageService
              changeOrigin: true
