http:
  port: 8080
admin:
  port: 9876
  host: localhost

apiEndpoints:
  userServicePublic:
    host: localhost
    paths:
      - /users/login
      - /users/register
      - /users/health
      - /users/verify
  userServiceProtected:
    host: localhost
    paths:
      - /users/*
      - /users/*/profile
  messageServicePublic:
    host: localhost
    paths:
      - /message-service/health
      - /contactus
  messageServiceProtected:
    host: localhost
    paths:
      - /messages
      - /messages/*
  postReplyServiceProtected:
    host: localhost
    paths:
      - /api/posts
      - /api/posts/*
      - /api/replies
      - /api/replies/*
      - /api/me/posts/*
      - /api/admin/posts/*
  historyServiceProtected:
    host: localhost
    paths:
      - /history

serviceEndpoints:
  userService:
    url: 'http://host.docker.internal:5001'
  historyService:
    url: 'http://host.docker.internal:5003'
  postReplyService:
    url: 'http://host.docker.internal:5004'
  messageService:
    url: 'http://host.docker.internal:5002'
  fileService:
    url: 'http://host.docker.internal:5005'

policies:
  - proxy
  - cors
  - jwt
  - claims-forwarding

pipelines:
  userServicePublicPipeline:
    apiEndpoints:
      - userServicePublic
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - proxy:
          - action:
              serviceEndpoint: userService
              changeOrigin: true
              prependPath: false
              stripPath: false

  userServiceProtectedPipeline:
    apiEndpoints:
      - userServiceProtected
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - jwt:
          - action:
              secretOrPublicKey: ${JWT_SECRET}
              checkCredentialExistence: false
              algorithms:
                - HS256
              issuer: 'forum_user_service'
      - claims-forwarding:
          - action:
      - proxy:
          - action:
              serviceEndpoint: userService
              changeOrigin: true
              prependPath: false
              stripPath: false

  messageServicePublicPipeline:
    apiEndpoints:
      - messageServicePublic
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - proxy:
          - action:
              serviceEndpoint: messageService
              changeOrigin: true
              prependPath: false
              stripPath: false

  messageServiceProtectedPipeline:
    apiEndpoints:
      - messageServiceProtected
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - jwt:
          - action:
              secretOrPublicKey: ${JWT_SECRET}
              checkCredentialExistence: false
              algorithms:
                - HS256
              issuer: 'forum_user_service'
      - claims-forwarding:
          - action:
      - proxy:
          - action:
              serviceEndpoint: messageService
              changeOrigin: true
              prependPath: false
              stripPath: false

  postReplyServiceProtectedPipeline:
    apiEndpoints:
      - postReplyServiceProtected
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - jwt:
          - action:
              secretOrPublicKey: ${JWT_SECRET}
              checkCredentialExistence: false
              algorithms:
                - HS256
              issuer: 'forum_user_service'
      - claims-forwarding:
          - action:
      - proxy:
          - action:
              serviceEndpoint: postReplyService
              changeOrigin: true
              prependPath: false
              stripPath: false

  historyServiceProtectedPipeline:
    apiEndpoints:
      - historyServiceProtected
    policies:
      - cors:
          - action:
              origin: '*'
              credentials: true
      - jwt:
          - action:
              secretOrPublicKey: ${JWT_SECRET}
              checkCredentialExistence: false
              algorithms:
                - HS256
              issuer: 'forum_user_service'
      - claims-forwarding:
          - action:
      - proxy:
          - action:
              serviceEndpoint: historyService
              changeOrigin: true
              prependPath: false
              stripPath: false
